body {
    background-color: black;
    text-align: center;  
} 

h1{
    color: rgba(1, 192, 240, 0.808);
    font-size: 60px;
    font-family: 'Lobster', cursive;

    
}

img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1cm;
}
input{
    size: 20px;
    width: 3cm;
    line-height: 1cm;
}