section {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100vh;
    background-color: aqua;
}
.centro {
    top: 50%;
    left: 50%;
    transform: translateY(35vh);
}
.resultado {
    font-size: 3em;
}